#product-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#product-container img {
  max-height: 300px;
  object-fit: contain;
}

#product-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#sizes {
  display: none;
}

#sizes.visible {
  display: flex;
  flex-direction: column;
}

.size-option {
  display: flex;
  padding: .5rem;
  gap: 1rem;
  border-top: 1px solid var(--secondary-color);
  cursor: pointer;
}

.old-price {
  text-decoration-line: line-through;
}

@media screen and (min-width: 701px) {
  #product-container {
    grid-template-columns: 1fr 1fr;
  }

  #product-container img {
    grid-row: span 4;
  }
}

.search-header {
  text-align: center;
}

.search-header h1 {
  margin-bottom: 1rem;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.search-result-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  width: 340px;
}

.search-result-item img {
  grid-row: span 3;
  max-height: 140px;
  object-fit: contain;
}

.search-result-item p {
  color: black;
}

.search-page-btn {
  max-width: 340px;
  margin: 0 auto;
}