@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: white;
}

/*check other images ...*/
.shop-grid img,
footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}


/* TYPOGRAPHY */
h1, h2 {
  font-family: "roboto";
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

h2 {
  margin-top: 1rem;
}

h3, p, a, label, input, li, textarea {
  font-family: "inter";
}


/* HEADER */
header {
  margin: 2rem 1rem 2rem;
  color: var(--primary-color);
}

.header-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header-start .fa-bag-shopping {
  padding-right: 1.5rem;
}

.header-logo {
  font-family: "roboto";
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-end {
  display: flex;
}

.fa-bars,
.fa-magnifying-glass {
  padding: 1rem 1.5rem;
}

.fa-bars {
  color: white;
  background-color: var(--primary-color);
}

.fa-magnifying-glass {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#header-search {
  background-color: var(--tertiary-color);
  width: 100%;
  padding-right: 1rem;
  text-align: right;
  font-size: 1.2rem;
}

/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
} /*change display property larger screens?*/

footer img {
  max-width: 300px;
}

.footer-nav p {
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-nav a {
  text-transform: capitalize;
}

footer a {
  color: white;
}

.fa-check {
  background-color: var(--secondary-color);
  padding: .5rem .8rem;
}

.footer-newsletter-flex {
  display: flex;
  margin-top: 1rem;
}

#footer-newsletter-input {
  padding-left: 1rem;
  width: 100%;
  background-color: white;
} /*change for larger screens?*/


/* JACKET CARDS */
.shop-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 1rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto;
}

.image {
  position: relative;
}

.card-icon {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}

.shop-grid .fa-bag-shopping {
  padding: .5rem .625rem;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 6px;
  color: var(--primary-color);
}

.text {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  color: var(--primary-color);
}

.name,
.price {
  font-weight: 700;
}

.old-price {
  text-decoration-line: line-through;
}

.text div {
  text-align: right;
}

@media screen and (min-width: 600px) {
  .card {
  grid-template-rows: 400px auto;
  }
}

@media screen and (min-width: 900px) {
  .shop-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .shop-btn {
    grid-column: span 2;
  }
}


/* BUTTONS */
.primary-btn,
.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
}

.secondary-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-transform: capitalize;
  gap: 2rem;
}

/* FILTER BUTTONS */
.filter {
  margin: 0 1rem 1rem;
}

.filter button {
  text-transform: uppercase;
}


/* BREADCRUMBS */
.breadcrumb {
  display: flex;
  padding: 0;
  margin: 0 1rem 1rem;
}

.breadcrumb li {
  margin-right: 0.5rem;
  color: var(--primary-color);
}

.breadcrumb li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.breadcrumb li::after {
  content: ">";
  margin-left: 0.5rem;
}

.breadcrumb li:last-child::after {
  content: "";
}